@mixin xl() {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin lg() {
	@media (max-width: 1200px) {
		@content;
	}
}
@mixin md() {
	@media (max-width: 992px) {
		@content;
	}
}
@mixin sm() {
	@media (max-width: 768px) {
		@content;
	}
}
@mixin xs() {
	@media (max-width: 576px) {
		@content;
	}
}
@include lg {
	/*========================== price ==========================*/
	.price {
		&-tabs {
			&__caption {
				li {
					font-size: rem-calc(22px);
					&:not(.active) {
						&:hover::before {
							height: rem-calc(330px);
						}
					}
				}
			}
		}
	}
}
@include md {
	/*========================== header ==========================*/
	.nav {
		&-top{
			&_right {
				.phone {
					margin-right: 30px;
					margin-left: auto;
				}
			}
		}
	}
	/*========================== advantages ==========================*/
	.advantages {
		&-item {
			margin-bottom: 30px;
		}
	}
	/*========================== about ==========================*/
	.about {
		margin-bottom: 5rem;
		h3 {
			margin-top: rem-calc(40px);
			margin-bottom: rem-calc(10px);
			font-weight: normal;
			font-size: rem-calc(36px);
		}
		p {
			line-height: rem-calc(18px);
			margin-bottom: rem-calc(18px);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	/*========================== offer ==========================*/
	.offer {
		&-item {
			justify-content: center;
			margin-bottom: 2rem;
		}
	}
	/*========================== price ==========================*/
	.price {
		&-tabs {
			&__content.pine, &__content.joiner {
				padding: 5px 0 15px 0;
				thead {
					th {
						padding-top: 7px;
						padding-left: 7px;
					}
				}
			}
			&__caption {
				li {
					font-size: rem-calc(16px);
					&:not(.active) {
						&:hover::before {
							height: rem-calc(250px);
						}
					}
				}
			}
		}
	}
	/*========================== feedback ==========================*/
	.feedback {
		height: rem-calc(576px);
		&-title {
			margin-top: rem-calc(170px);
		}
		&-description {
			font-size: rem-calc(18px);
			line-height: rem-calc(21px);
			max-width: rem-calc(550px);
			text-align: center;
			margin-bottom: rem-calc(60px);
		}
		&-form {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			width: 100%;
			.input-wrap {
				margin-right: 0;
				flex: 0 0 30%;
				max-width: 300px;
				margin-bottom: 1rem;
			}
		}
	}
	/*========================== contacts ==========================*/
	.contacts {
		.row{
			justify-content: space-between;
			& > * {
				padding: 0;
			}
		} 
		&-logo {
			margin-top: 2rem;
			order: 1;
		}
		.logo-wrap {
			justify-content: center;
		}
	}
}
@include sm {
	/*========================== hero ==========================*/
	.hero{
		&-nav {
			&-burger {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				height: 20px;
				cursor: pointer;
				&_active &__line
				{
					&:first-child {
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						-webkit-transform-origin: left bottom;
						-ms-transform-origin: left bottom;
						transform-origin: left bottom;
					}
					&:nth-child(2) {
						-webkit-transform: scaleX(0);
						-ms-transform: scaleX(0);
						transform: scaleX(0);
					}
					&:last-child {
						-webkit-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
						-webkit-transform-origin: left top;
						-ms-transform-origin: left top;
						transform-origin: left top;
					}
				}

			}
			nav {
				display: none;
				flex: 0 0 100%;
				max-width: 100%;
				margin-top: 0;
				a {
					margin-right: 0;
					margin-bottom: 1.3rem;
					font-weight: bold;
					font-size: 1.3rem;
					&:first-child {
						margin-top: rem-calc(20px);
					}
					&:after {
						display: none;
					}
				}
			}
		}

	}
	nav {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 20px;
	}
	/*========================== projects ==========================*/
	.projects {
		h2 {
			margin-bottom: 25px;
		}
		&-item {
			span {
				bottom: 20px;
				left: 20px;
			}
		}
	}
	/*========================== work ==========================*/
	.work {
		&-item {
			min-height: rem-calc(140px);
			padding: 0;
			// p {
			// 	font-size: 12.5px;
			// }
			&:nth-of-type(odd) {
				padding-right: rem-calc(25px);
				strong {
					&:before {
						right: rem-calc(-25px-30px);
					}
					&:after {
						right: rem-calc(-25-15px);
					}
				}
			}
			&:nth-of-type(even) {
				padding-left: rem-calc(55px);
				strong {
					&:before {
						left: rem-calc(-25px-30px);
					}
					&:after {
						left: rem-calc(-25-15px);
					}
				}
			}
		}
	}
	/*========================== about ==========================*/
	.about {
		&-img {
			margin: 0 auto;
		}
	}
	/*========================== price ==========================*/
	.price {
		&-tabs {
			&__content.pine, &__content.joiner {
				thead {
					th {
						padding-top: 8px;
						padding-left: 8px;
					}
				}
				&.active {
					border: none;
					padding: 0;
					padding-top: 5px;
				}
				table {
					border-spacing: 3px;
				}
			}
			&__caption {
				.active {
					border-bottom: 2px solid $active-color;
				}
				li {
					flex: 1 0 100%;
					border-radius: rem-calc(20px);
					&:not(:first-child) {
						transform: translateY(-1px);
					}
					&:not(.active) {
						&:hover::before {
							height: rem-calc(370px);
						}
					}
				}
			}
			&__content.joiner {
				tbody {
					tr {
						td {
							&:not(.full-col):not(.first-col)::after {
								top: -3px;
								height: 4px;
							}
						}
					}
				}
			}
		}
	}
	/*========================== feedback ==========================*/
	.feedback {
		&-title {
			margin-top: rem-calc(110px);
		}
	}
	/*========================== contacts ==========================*/
	.contacts {
		&-nav {
			margin: 0;
			text-align: left;
			margin-bottom: 1rem;
		}
		&-production {
			margin-bottom: 1rem;
		}
		&-logo {
			margin-top: 1rem;
			order: 1;
		}
	}
}
@include xs {
	/*========================== header ==========================*/
	.nav {
		&-top{
			padding-top: 1rem;
			.logo {
				span {
					display: block;
					color: $dark;
					font-weight: bold;
					font-size: 0.786rem;
					text-transform: uppercase;
				}
			}
			&_right {
				justify-content: space-evenly;
				margin-top: 1rem;
				.phone {
					margin: 0;
				}
			}
		}
	}
	/*========================== hero ==========================*/
	.hero {
		&-nav {
			max-width: 94%;
		}
		&-wrap {
			padding-top: 8rem;
			padding-left: 15px;
			padding: 8rem 15px 0 15px;
		}
	}
	/*========================== projects ==========================*/
	.projects {
		h2 {
			font-size: 38px;
		}
	}
	.section-bottom {
		margin-bottom: 8rem;
		&-small {
			margin-bottom: 5rem;
		}
	}
	/*========================== work ==========================*/
	.work {
		&-item {
			strong {
				&:before {
					left: rem-calc(-40-30px);
				}
				&:after {
					left: rem-calc(-40-15px);
				}
			}
			p {
				margin-left: 0px;
			}
			&:nth-of-type(even) {
				margin-left: 0;
			}
			&:nth-of-type(odd),
			&:nth-of-type(even) {
				text-align: left;
				padding-left: rem-calc(70+15px);
				strong {
					&:before {
						left: rem-calc(-40-30px);
					}
					&:after {
						left: rem-calc(-40-15px);
					}
				}
				p {
					margin-left: 0;
				}
			}
		}
	}
	/*========================== about ==========================*/
	.about {
		&-img {
			max-height: 23rem;
		}
	}
	/*========================== price ==========================*/
	.price {
		&-row {
			padding: 0 5px;
		}
		&-tabs {
			&__content.pine, &__content.joiner {
				thead {
					th {
						padding-top: 2px;
						padding-left: 2px;
						border-radius: 5px;
					}
				}
				table {
					border-spacing: 2px;
				}
			}
			tbody {
				tr {
					td, th {
						padding: 14px 0;
					}
				}
			}
			&__caption {
				.active {
					border-bottom: 2px solid $active-color;
				}
				li {
					flex: 1 0 100%;
					border-radius: rem-calc(10px);
					&:not(:first-child) {
						transform: translateY(-1px);
					}
					&:not(.active) {
						&:hover::before {
							height: rem-calc(390px);
						}
					}
				}
			}
		}
	}
	/*========================== feedback ==========================*/
	.feedback {
		height: rem-calc(650px);
		&-form {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			width: 100%;
			.input-wrap, button {
				flex: 0 0 60%;
				max-width: 350px;
			}
		}
	}
	/*========================== contacts ==========================*/
	.contacts {
		.row {
			padding: 0 15px;
		}
		&-nav {
			text-align: center;
		}
	}
	$font-size: 12;
	html {
		font-size: #{$font-size}px;
	}
}
@media (max-width: 400px) {
	/*========================== price ==========================*/
	.price {
		&-tabs {
			&__caption {
				li {
					font-size: rem-calc(16px);
				}
			}
		}
	}
	/*========================== feedback ==========================*/
	.feedback {
		&-title {
			color: $white;
			margin-top: rem-calc(80px);
			margin-bottom: rem-calc(20px);
		}
		&-description {
			margin-bottom: rem-calc(40px);
		}
		&-form {
			.input-wrap, button {
				flex: 0 0 80%;
			}
		}
	}
}