@mixin xl() {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin lg() {
	@media (max-width: 1199px) {
		@content;
	}
}
@mixin md() {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin sm() {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin xs() {
	@media (max-width: 575px) {
		@content;
	}
}
@include lg {
	/*========================== product ==========================*/
	.hero {
		.product {
			&-right {
				padding: 30px 20px 0 25px;
			}
			&-description {
				margin-bottom: rem-calc(35px);
			}
			&-buttons {
				margin-bottom: rem-calc(35px);
			}
			&-links {
				padding-top: rem-calc(25px);
			}
		}
	}
	/*========================== card ==========================*/
	.card {
		&-square {
			margin-right: 15px;
		}
	}
}
@include md {
	.section-bottom {
		margin-bottom: rem-calc(100px);
		&-small {
			margin-bottom: rem-calc(80px);
		}
	}
	/*========================== header ==========================*/
	.nav {
		&-top{
			&_right {
				.phone {
					margin-right: 30px;
					margin-left: auto;
				}
			}
		}
	}
	/*========================== product ==========================*/
	.hero {
		.pages {
			padding-left: 15px;
			padding-right: 15px;
		}
		.product {
			&-title {
				padding-left: 15px;
				padding-right: 15px;
			}
			&-img {
				display: flex;
				justify-content: center;
				img {
					max-height: 300px;
				}
			}
			&-digits {
				justify-content: center;
			}

			&-right {
				padding: 30px 20px 0 20px;
			}

			&-description {
				margin: 0 auto 2.5rem auto;
			}
			&-buttons {
				justify-content: center;
			}
			&-links {
				justify-content: center;
				padding-bottom: rem-calc(30px);
			}
		}
	}
	/*========================== modal ==========================*/
	.modal {
		&-header {
			height: rem-calc(85px);
			padding: 0 rem-calc(30px);
		}
		.icon-phone {
			font-size: 24px;
			margin-right: rem-calc(24px);
		}
		&-title {
			font-size: rem-calc(20px);
			line-height: rem-calc(24px);
		}
		&-body {
			padding: rem-calc(25px) rem-calc(30px) rem-calc(30px) rem-calc(30px);
		}
		.form {
			&-label {
				font-size: rem-calc(15px);
				line-height: rem-calc(18px);
			}
		}
	}
	/*========================== advantages ==========================*/
	.advantages {
		&-item {
			margin-bottom: 30px;
		}
	}
	/*========================== feedback ==========================*/
	.feedback {
		height: rem-calc(576px);
		&-title {
			margin-top: rem-calc(170px);
		}
		&-description {
			font-size: rem-calc(18px);
			line-height: rem-calc(21px);
			max-width: rem-calc(550px);
			text-align: center;
			margin-bottom: rem-calc(60px);
		}
		&-form {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			width: 100%;
			.input-wrap {
				margin-right: 0;
				flex: 0 0 30%;
				max-width: 300px;
				margin-bottom: 1rem;
			}
		}
	}
	/*========================== contacts ==========================*/
	.contacts {
		.row{
			justify-content: space-between;
			& > * {
				padding: 0;
			}
		} 
		&-logo {
			margin-top: 2rem;
			order: 1;
		}
		.logo-wrap {
			justify-content: center;
		}
	}
	/*========================== card ==========================*/
	.card {
		&-title {
			font-size: rem-calc(32px);
			line-height: rem-calc(38px);
		}
		&-text {
			padding: 20px 0 20px 15px;
		}
		
		&__title {
			margin-bottom: 10px;
		}
		img {
			width: 100%;
		}
	}
	.col-lg-3 {
		.card-item {
			margin-bottom: 30px;
		}
		&:last-of-type .card-item,
		&:nth-last-of-type(2) .card-item {
			margin-bottom: 0;
		}
	}
}
@include sm {
	/*========================== hero ==========================*/
	.hero{
		&-nav {
			&-burger {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				height: 20px;
				cursor: pointer;
				&_active &__line
				{
					&:first-child {
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
						-webkit-transform-origin: left bottom;
						-ms-transform-origin: left bottom;
						transform-origin: left bottom;
					}
					&:nth-child(2) {
						-webkit-transform: scaleX(0);
						-ms-transform: scaleX(0);
						transform: scaleX(0);
					}
					&:last-child {
						-webkit-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						transform: rotate(-45deg);
						-webkit-transform-origin: left top;
						-ms-transform-origin: left top;
						transform-origin: left top;
					}
				}

			}
			nav {
				display: none;
				flex: 0 0 100%;
				max-width: 100%;
				margin-top: 0;
				a {
					margin-right: 0;
					margin-bottom: 1.3rem;
					font-weight: bold;
					font-size: 1.3rem;
					&:first-child {
						margin-top: rem-calc(20px);
					}
					&:after {
						display: none;
					}
				}
			}
		}

	}
	nav {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 20px;
	}

	/*========================== modal ==========================*/
	.modal {
		.form {
			&-left, &-right {
				padding: 0;
			}
			&-bottom {
				&_left, &_right {
					padding: 0;
				}
				&_left {
					order: 1;
				}
			}
		}
	}
	/*========================== modal question ==========================*/
	.modal {
		&-question {
			.modal {
				&-header {
					padding: rem-calc(15px) rem-calc(20px);
					height: 100px;
					.icon-phone {
						margin-right: 20px;
					}
				}
				&-body {
					padding: rem-calc(30px) rem-calc(20px);
					.form {
						&-group {
							margin-bottom: rem-calc(25px);
						}
					}
				}
			}
		}
		&-description {
			margin-top: 5px;
		}
		&-dialog {
			&_question {
				max-width: 500px;
			}
		}
	}
	/*========================== feedback ==========================*/
	.feedback {
		&-title {
			margin-top: rem-calc(110px);
		}
	}
	/*========================== contacts ==========================*/
	.contacts {
		&-nav {
			margin: 0;
			text-align: left;
			margin-bottom: 1rem;
		}
		&-production {
			margin-bottom: 1rem;
		}
		&-logo {
			margin-top: 1rem;
			order: 1;
		}
	}
}
@include xs {
	/*========================== header ==========================*/
	.nav {
		&-top{
			padding-top: 1rem;
			.logo {
				span {
					display: block;
					color: $dark;
					font-weight: bold;
					font-size: 0.786rem;
					text-transform: uppercase;
				}
			}
			&_right {
				justify-content: space-evenly;
				margin-top: 1rem;
				.phone {
					margin: 0;
				}
			}
		}
	}
	/*========================== hero ==========================*/
	.hero {
		&-nav {
			max-width: 94%;
		}
		&-wrap {
			padding-top: 8rem;
			padding-left: 15px;
			padding: 8rem 15px 0 15px;
		}
		/*========================== product ==========================*/
		.pages {
			padding-top: rem-calc(70px);
			padding-bottom: rem-calc(30px);
		}
		.product {
			&-img {
				img {
					max-height: 250px;
				}
			}
			&-right {
				padding: 30px 15px 0 15px;
			}
			&-square {
				margin-right: 15px;
			}
		}
	}
	/*========================== modal ==========================*/
	.modal {
		&-header {
			height: rem-calc(85px);
			padding: 0 rem-calc(20px);
		}
		.icon-phone {
			// font-size: 24px;
			margin-right: rem-calc(10px);
		}
		&-body {
			padding: rem-calc(20px) rem-calc(20px) rem-calc(30px) rem-calc(20px);
		}
	}
	/*========================== modal call ==========================*/
	.modal {
		&-call {
			.modal {
				&-header {
					height: 75px;
				}
				&-body {
					padding: rem-calc(20px) rem-calc(20px);
					.modal-btn {
						margin-top: 30px;
					}
				}
			}
		}
	}
	/*========================== card ==========================*/
	.card {
		&-title {
			margin-bottom: rem-calc(20px);
		}
		&-text {
			padding: 20px 10px 20px 10px;
			text-align: center;
		}
		&-digits {
			display: flex;
			justify-content: center;
		}
		&-square {
			font-size: 20px;
			line-height: 31px;
		}
		&-item {
			&__title {
				font-size: 16px;
				line-height: 20px;
			}
		}
		&-price {
			text-align: left;
			&__current {
				font-size: 20px;
				line-height: 24px;
			}
			&__cross-out {
				font-size: 16px;
				line-height: 20px;
				
			}
		}
		.container {
			padding: 0 15px;
		}
	}
	.col-lg-3 {
		.card-item {
			margin-bottom: 30px;
		}
		&:nth-last-of-type(2) .card-item {
			margin-bottom: 30px;
		}
		&:last-of-type .card-item {
			margin-bottom: 0;
		}
	}
	/*========================== feedback ==========================*/
	.feedback {
		height: rem-calc(650px);
		&-form {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			width: 100%;
			.input-wrap, button {
				flex: 0 0 60%;
				max-width: 350px;
			}
		}
	}
	/*========================== contacts ==========================*/
	.contacts {
		.row {
			padding: 0 15px;
		}
		&-nav {
			text-align: center;
		}
	}
	$font-size: 12;
	html {
		font-size: #{$font-size}px;
	}
}
@media (max-width: 400px) {
	/*========================== feedback ==========================*/
	.feedback {
		&-title {
			color: $white;
			margin-top: rem-calc(80px);
			margin-bottom: rem-calc(20px);
		}
		&-description {
			margin-bottom: rem-calc(40px);
		}
		&-form {
			.input-wrap, button {
				flex: 0 0 80%;
			}
		}
	}
	/*========================== modal ==========================*/
	.modal {
		&-header {
			padding: 0 rem-calc(15px);
		}
		&-body {
			padding: rem-calc(25px) rem-calc(15px) rem-calc(15px) rem-calc(15px);
		}
		.icon-phone {
			display: none;
		}
		&-title {
			font-size: 14px;
			margin: auto;
		}
		&-btn {
			margin: auto;
			margin-top: 15px;
		}
		.form {
			&-left, &-right {
				padding: 0;
			}
			&-bottom {
				&_left, &_right {
					padding: 0;
				}
				&_left {
					order: 1;
				}
			}
			&-label {
				margin-bottom: 5px;
			}
			&-group {
				margin-bottom: 20px;
				label.form-label-message {
					&::after {
						top: 28px;
					}
				}
			}
		}
	}
}