$white: #fff;
$black: #000;
$active-color: #41B619;
$dark: #231F20;
$grey: #939598;
$table-line: #F1F2F2;
$table-line-dark: #E6E7E8;
$card-price: #808080;
$card-description: #808285;
$form-border: #dcdcdc;
$others-price: #c4c4c4;