@mixin xl() {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin lg() {
	@media (max-width: 1199px) {
		@content;
	}
}
@mixin md() {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin sm() {
	@media (max-width: 767px) {
		@content;
	}
}
@mixin xs() {
	@media (max-width: 575px) {
		@content;
	}
}
@include lg {
	/*========================== product ==========================*/
	.hero {
		.product {
			&-right {
				padding: 30px 20px 0 25px;
			}
			&-description {
				margin-bottom: rem-calc(35px);
			}
			&-buttons {
				margin-bottom: rem-calc(35px);
			}
			&-links {
				padding-top: rem-calc(25px);
			}
		}
	}
}
@include md {
	/*========================== product ==========================*/
	.hero {
		.pages {
			padding-left: 15px;
			padding-right: 15px;
		}
		.product {
			&-title {
				padding-left: 15px;
				padding-right: 15px;
			}
			&-img {
				display: flex;
				justify-content: center;
				img {
					max-height: 300px;
				}
			}
			&-digits {
				justify-content: center;
			}

			&-right {
				padding: 30px 20px 0 20px;
			}

			&-description {
				margin: 0 auto 2.5rem auto;
			}
			&-buttons {
				justify-content: center;
			}
			&-links {
				justify-content: center;
				padding-bottom: rem-calc(30px);
			}
		}
	}
	/*========================== modal ==========================*/
	.modal {
		&-header {
			height: rem-calc(85px);
			padding: 0 rem-calc(30px);
		}
		.icon-phone {
			font-size: 24px;
			margin-right: rem-calc(24px);
		}
		&-title {
			font-size: rem-calc(20px);
			line-height: rem-calc(24px);
		}
		&-body {
			padding: rem-calc(25px) rem-calc(30px) rem-calc(30px) rem-calc(30px);
		}
		.form {
			&-label {
				font-size: rem-calc(15px);
				line-height: rem-calc(18px);
			}
		}
	}
}
@include sm {
	/*========================== modal ==========================*/
	.modal {
		.form {
			&-left, &-right {
				padding: 0;
			}
			&-bottom {
				&_left, &_right {
					padding: 0;
				}
				&_left {
					order: 1;
				}
			}
		}
	}
	/*========================== modal question ==========================*/
	.modal {
		&-question {
			.modal {
				&-header {
					padding: rem-calc(15px) rem-calc(20px);
					height: 100px;
					.icon-phone {
						margin-right: 20px;
					}
				}
				&-body {
					padding: rem-calc(30px) rem-calc(20px);
					.form {
						&-group {
							margin-bottom: rem-calc(25px);
						}
					}
				}
			}
		}
		&-description {
			margin-top: 5px;
		}
		&-dialog {
			&_question {
				max-width: 500px;
			}
		}
	}
}
@include xs {
	/*========================== hero ==========================*/
	.hero {
		&-nav {
			max-width: 94%;
		}
		&-wrap {
			padding-top: 8rem;
			padding-left: 15px;
			padding: 8rem 15px 0 15px;
		}
		/*========================== product ==========================*/
		.pages {
			padding-top: rem-calc(70px);
			padding-bottom: rem-calc(30px);
		}
		.product {
			&-img {
				img {
					max-height: 250px;
				}
			}
			&-right {
				padding: 30px 15px 0 15px;
			}
			&-square {
				margin-right: 15px;
			}
		}
	}
	/*========================== modal ==========================*/
	.modal {
		&-header {
			height: rem-calc(85px);
			padding: 0 rem-calc(20px);
		}
		.icon-phone {
			// font-size: 24px;
			margin-right: rem-calc(10px);
		}
		&-body {
			padding: rem-calc(20px) rem-calc(20px) rem-calc(30px) rem-calc(20px);
		}
	}
	/*========================== modal call ==========================*/
	.modal {
		&-call {
			.modal {
				&-header {
					height: 75px;
				}
				&-body {
					padding: rem-calc(20px) rem-calc(20px);
					.modal-btn {
						margin-top: 30px;
					}
				}
			}
		}
	}
	$font-size: 12;
	html {
		font-size: #{$font-size}px;
	}
}
@media (max-width: 400px) {
	/*========================== modal ==========================*/
	.modal {
		&-header {
			padding: 0 rem-calc(15px);
		}
		&-body {
			padding: rem-calc(25px) rem-calc(15px) rem-calc(15px) rem-calc(15px);
		}
		.icon-phone {
			display: none;
		}
		&-title {
			font-size: 14px;
			margin: auto;
		}
		&-btn {
			margin: auto;
			margin-top: 15px;
		}
		.form {
			&-left, &-right {
				padding: 0;
			}
			&-bottom {
				&_left, &_right {
					padding: 0;
				}
				&_left {
					order: 1;
				}
			}
			&-label {
				margin-bottom: 5px;
			}
			&-group {
				margin-bottom: 20px;
				label.form-label-message {
					&::after {
						top: 28px;
					}
				}
			}
		}
	}
}